body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.carde {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  overflow: hidden;
}
.icon {
  font-size: 20px;
}

.card-image {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  flex: 1;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.card-content p {
  margin: 0 0 20px;
  font-size: 1rem;
  color: #555;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter button {
  width: 30px;
  height: 30px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
}

.counter button:hover {
  background: #0056b3;
}

.counter #count {
  font-size: 1.2rem;
  font-weight: bold;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 45px;
  margin-bottom: 30px;
}
.icon {
  cursor: pointer;
}
.title {
  color: rgb(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 3%;
  font-family: Switzer-S-Bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 85px;

  letter-spacing: 2px;
}
.desc {
  margin: auto;
  margin-top: 1%;
  color: #061e00;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  max-width: 500px;
}
@media (max-width: 872px) {
  .title {
    line-height: 60px;
  }
}
@media (max-width: 483px) {
  .carde {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
